
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="waves-effect waves-light btn" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
    <leaflet width="100%", height="480px"></leaflet>
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
	professional front-end template for building fast, {{ hello }}, robust, and adaptable web apps or sites.
  </p>

  
</div>
