
svg, #bubble-chart {
  font-size: 16px;
  display: block;
  margin: auto;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 70px;
    padding: 2px;
    font: 12px sans-serif;
    background: #e7ba52;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
  background-size: 1%;
}
