requirements : 
The classification.R script requires the above R packages : 
	- jsonlite
	- hash
	- fpc

They can be installed in R with this command : 
	install.packages('<library name>')

Example : 
for jsonlite 
	install.packages('jsonlite')	

To fix problem occured when installing 'TSclust' package: 
http://solaimurugan.blogspot.fr/2015/09/3d-data-visualization-using-r-configure.html
