requirements : 
The classification.R script requires the above R packages : 
	- jsonlite
	- hash

They can be installed in R with this command : 
	install.packages('<library name>')

Example : 
for jsonlite 
	install.packages('jsonlite')	
